/* IE users can't have nice things */

#ie {
  font-style: italic;
  position: absolute;
  top: 50px;
  left: 150px;
}

#header-links {
  top: 30px !important;
}

#filters-container {
  position: absolute;
  top: 0px;
  bottom: default;
}
