<div id="global-data-contents">
  <p>
    Down:
    <span class="inline download" id="global-total_down_rate">{{ total_down_rate }}</span>
    <span class="smalltext" id="global-total_down_limit">[{{ total_down_limit }}]</span>
    &nbsp;&nbsp;&nbsp;
    Up:
    <span class="inline upload" id="global-total_up_rate">{{ total_up_rate }}</span>
    <span class="smalltext" id="global-total_up_limit">[{{ total_up_limit }}]</span>
  </p>
  {% if show_disk_free %}
    <div id="disk-data">
      Disk Free: <span id="global-disk_free">{{ disk_free }}</span>
      / <span id="global-disk_total">{{ disk_total }}</span>
      (<span id="global-disk_percent">{{ disk_percent }}</span>%)
    </div>
  {% endif %}
  <p>
    Showing <span id="t-count-visible">{{ torrents_count_visible }}</span>
    of <span id="t-count-all">{{ torrents_count_all }}</span> torrents
    (<span id="t-count-hidden">{{ torrents_count_superhidden }}</span> hidden)
    | <a class="dialog" rel="400:300" href="settings.php">Settings</a>
    | <a class="dialog" rel="700:500" href="add-torrents-form.php">Add torrent(s)</a>
  </p>
</div>
