<div class="torrent">
  <div class="namecol">
    <div class="tracker">
      <a class="filter" href="#" rel="tracker:{{ tracker_hostname }}" style="color: {{ tracker_color }}">{{ tracker_hostname }}</a>
    </div>
    <input type="checkbox" name="select[]" id="t-{{ hash }}-checkbox" class="checkbox" value="{{ hash }}" />
    <a class="dialog {{ status_class }}" rel="600:550" href="view.php?hash={{ hash }}">{{ name }}</a>
    <span class="tags">
      {% for tag in tags %}
        {% if loop.first %}({% endif %}<a class="tag" data-tag="{{ tag }}" href="#{{ tag }}">{{ tag }}</a>{% if loop.last %}){% else %}, {% endif %}
      {% endfor %}
    </span>
  </div>
  <div class="errorcol">
      <span>{% if eta_str %}{{ eta_str }} remaining...{% endif %}</span>
      <span>{{ message }}</span>
  </div>
  <div class="datacol column-name-tags">
    <a class="ajax image-link" href="control.php?hash={{ hash }}&amp;cmd={{ start_stop_cmd }}">
      <img alt="{{ start_stop_cmd }} torrent" border="0" src="images/{{ start_stop_cmd }}.gif" width="16" height="16" />
    </a>
    <a class="ajax image-link confirm" rel="delete" href="control.php?hash={{ hash }}&amp;cmd=delete">
      <img alt="delete torrent" border="0" src="images/delete.gif" width="16" height="16" align="bottom" />
    </a>
    <a class="dialog image-link" rel="600:550" href="view.php?hash={{ hash }}">
      <img alt="view torrent info" border="0" src="images/view.gif" width="16" height="16" />
    </a><br />
  </div>
  <div class="datacol column-status">
    <img alt="torrent status" src="images/{{ status_class }}.gif" width="10" height="9" />{{ status }}
  </div>
  <div class="datacol column-done">
    {{ percent_complete_str }}<br />
    <table align="center" border="0" cellspacing="0" cellpadding="1" bgcolor="#666666" width="50">
      <tr>
        <td align="left">
          <img src="images/percentbar.gif" height="4" width="{{ percent_complete_width }}" />
        </td>
      </tr>
    </table>
  </div>
  {% autoescape false %}
    <div class="datacol column-remain">{{ bytes_remaining_str }}</div>
    <div class="datacol column-size">{{ size_bytes_str }}</div>
    <div class="datacol column-down">{{ down_rate_str }}</div>
    <div class="datacol column-up">{{ up_rate_str }}</div>
    <div class="datacol column-seeded">{{ up_total_str }}</div>
  {% endautoescape %}
  <div class="datacol column-ratio">{{ ratio_str }}</div>
  <div class="datacol column-peers">
    {{ peers_connected }}/{{ peers_not_connected }} ({{ peers_complete }})
  </div>
  <div class="datacol column-priority">{{ priority_str }}</div>
  <div class="datacollast column-tracker-date">{{ date_added_str }}</div>
  <div class="spacer"> </div>
</div>
