.modal {
  text-align: left;
  margin: 0px;
  padding: 0px;
  background: #262626;
  width: 100%;
  height: 100%;
  border: none;
}

.modal .tab {
  background: none;
  margin: 0 auto;
}
.modal .container {
  background: none;
  border: 1px solid #383838;
  margin: 0 auto;
  padding: 0px;
  border: none;
}
.modal .modalheadcol {
  background: #b1b1b1 url('./images/bg-menu-tile2.gif') repeat-x bottom left;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #2d2d2d;
  height: 18px;
}
.modal .headcol {
  background: none;
  margin: 3px 0px 0px 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 9px;
  *font-size: 10px;
  color: #b2b2b2;
  text-transform: uppercase;
  text-shadow: 0 -2px 1px #1d1d1d;
  font-weight: bold;
  border-left: 1px dotted #4c4c4c;
}
.modal .row {
  border-left: 1px solid #1a1a1a;
  border-right: 1px solid #1a1a1a;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  min-height: 37px;
}
.modal .namecol {
  width: auto;
  margin: 2px 5px 0px 5px;
  padding: 0px;
}
.modal .datacol {
  margin: 0px;
  padding: 0px;
}
.modal .datacol #smalltext {
  border: 1px solid red;
}
.modal .floatright {
}
.modal input {
  background-color: #333;
}
.modal #modalButtons {
  position: absolute;
  right: 2px;
  bottom: 7px;
}
.modal #modalButtons input {
  margin-right: 5px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  color: #ccc;
}

.modal #options {
  border-top: 1px solid #383838;
  margin: 0px;
  padding: 10px;
  color: #999;
}

div.controls {
  float: left;
}
div.controlcontainer {
  background: #333;
  text-align: center;
  padding: 3px 0 5px 0;
}

.buttonstart {
  background: url('images/start.gif') no-repeat center left;
  font-size: 80%;
  padding-left: 18px;
}
.buttonstop {
  background: url('images/stop.gif') no-repeat center left;
  font-size: 80%;
  padding-left: 18px;
}
.buttondel {
  background: url('images/delete.gif') no-repeat center left;
  font-size: 80%;
  padding-left: 18px;
}
.buttonhashcheck {
  background: url('images/hashcheck.gif') no-repeat center left;
  font-size: 80%;
  padding-left: 18px;
}
.buttonrefresh {
  background: url('images/refresh.gif') no-repeat center left;
  font-size: 80%;
  padding-left: 18px;
}

#tab-storage fieldset {
  border: 2px solid #888;
  color: #aaa;
  text-shadow: 0 -1px 1px #1d1d1d;
  font-weight: bold;
  margin-bottom: 5px;
}
#tab-storage fieldset legend {
  padding: 2px 4px;
}
#tab-debug {
  color: #aaa;
}

.dirbrowse {
  background: #262626;
  color: #aaa;
}

.tab-bottom {
  padding: 6px 6px 4px 0;
}
