select.themed {
  text-align: left;
}
input.themed, select.themed {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  *font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  text-shadow: 0px 1px 1px #262626;
  margin: 0px;
  padding: 2px 8px;
  color: #e8e8e8;
  background: #999999 url('./images/bg-button.gif') repeat-x top left;
  border: 1px solid #6f6f6f;
  border-right: 1px solid #515151;
  border-bottom: 1px solid #515151;

  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;

  box-shadow: 0px 1px 1px #262626;
  -webkit-box-shadow: 0px 2px 2px #262626;
  -moz-box-shadow: 0px 1px 1px #262626;
}
input.themed:hover, select.themed:hover {
  background: #8e8e8e url('./images/bg-button-hover.gif') repeat-x top left;
}
