#wrap {
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: left;
  border: 1px solid #4c4c4c;
  border-bottom: 1px solid #383838;
  border-top: none;
  -webkit-box-shadow: 0px 0px 20px #1a1a1a;
  -moz-box-shadow: 0px 0px 20px #1a1a1a;
  background-color: red;
}

#header {
  position: relative;
  height: 80px;
  margin: 0px;
  padding: 0px;

  background: #262626 url('./images/bg-header2.gif') no-repeat top left;
  border-bottom: 1px solid #262626;
  clear: both;
}
#header h1 {
  margin: 2px 0px 0px 18px;
  padding: 0px;
  position: absolute;
  font: bolder 5.1em Tahoma, Arial, Sans-serif;
  letter-spacing: -5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 5.1em;
  *font-size: 13px;
  color: #b2b2b2;
  text-shadow: -1px -1px 1px #b3b3b3;
}
#header a:hover {
  text-decoration: none;
}
.green { /* "gui" in "rtgui" main logo */
  color: #7ea610;
}
#header-links {
  position: absolute;
  top: 43px;
  left: 150px;
}

#boxright {
  position: absolute;
  right: 5px;
  top: 15px;
  display: block;
  text-align: right;
  margin: 0px 14px 0px 0px;
}

#header-links, #boxright {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  *font-size: 13px;
  line-height: 14px;
  color: #b2b2b2;
  text-shadow: 0 -1px 1px #1d1d1d;
  font-weight: bold;
}
#header-links a, #boxright a {
  color: #1472d4;
}
#header input {
  font-size: 80%;
}

.diskalert {
  font-size: 16px;
  color: red;
  font-weight: bold;
}

#filter-container {
  float: right;
  clear: both;
  *display: inline;
  height: 22px;
  width: 220px;
  margin: 2px 10px 2px 0px;
  padding: 0px 0px 0px 2px;
  color: #b2b2b2;
  background: #343434 url('./images/bg-menu-tile2.gif') repeat-x bottom left;
  border: 1px solid #363636;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;

  border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;

  box-shadow: 0px 1px 1px #6c6c6c;
  -webkit-box-shadow: 0px 1px 1px #6c6c6c;
  -moz-box-shadow: 0px 1px 1px #6c6c6c;
}
#filter-container:hover, #filter-container:checked {
  background: #343434 url('./images/bg-menu-tile2.gif') repeat-x top left;
}

#filter {
  padding: 2px;
  margin: 0px;
  font-size: small;
  text-transform: none;
  font-weight:bold;
  float: left;
  font: 12px arial, geneva, verdana, sans-serif;
  width: 185px;
  background: transparent;
  margin-top: 1px;
  color: #c2c2c2;
  border:none;
  text-shadow: 0px -1px 0px #363636;

  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;

  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
a.btn-clear-filter {
  background: transparent url("./images/btn-clear-filter.gif") no-repeat 0px 0px;
  float: right;
  width: 16px;
  height: 16px;
  margin: 3px 6px 0px 0px;
  padding: 0px;
}
a.btn-clear-filter:hover {
  background-position: -16px 0px;
}

#torrents-header {
  background: #b1b1b1 url('./images/bg-menu-tile2.gif') repeat-x bottom left;
  border-top: 1px solid #717171;
  border-bottom: 1px solid #2d2d2d;
  height: 18px;
}

#torrents-header a.sort {
  padding: 0 7px;
}
#torrents-header a.sort-asc {
  background: url('images/uparrow.gif') no-repeat center right;
}
#torrents-header a.sort-desc {
  background: url('images/downarrow.gif') no-repeat center right;
}

#debug {
  background-color: #eee;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  border-bottom: 1px solid #262626;
  height: 250px;
  overflow: auto;
  clear: both;
}

.bottomtab {
  padding: 4px 4px 0px 4px;
  background: #262626 url('./images/bg-header2.gif') no-repeat 0px 0px;
  height: 22px;
  border-top: 1px solid #919191;
}
.bottomtab input.themed, .bottomtab select.themed {
  position: relative;
  top: -5px;
  height: 20px;
}
.bottomtab #leave-checked {
  position: relative;
  top: -2px;
}
.bottomtab .gray-text { /* <label for="leave-checked"> */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  *font-size: 14px;
  color: #b2b2b2;
  text-shadow: -1px -1px 1px #1a1a1a;
  font-weight: bold;
  position: relative;
  top: -3px;
}

#footer {
  background: #262626 url('./images/bg-header2.gif') no-repeat 0px -26px;
  color: #9c9c9c;
}

#footer a {
  color: #1472d4;
}

#footer .smalltext {
  margin: 0 auto;
  padding: 5px 0px 5px 0px;
  color: #b2b2b2;
  text-shadow: 0 -1px 1px #1d1d1d;
}

#dialog-iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}
#dialog {
  padding: 0;
}
